In [6]:
import pandas as pd
import datetime
import numpy as np

In [7]:
merge_date_data = '../Days_Diff/Merge_Date.csv'
merge_date_df = pd.read_csv(merge_date_data, parse_dates=True)
merge_date_df.head()

,Unnamed: 0,Movie,Release Date_x,Award_date,Release Year
0,0,Capote,2005-09-30,2006-03-05,2005.0
1,1,American Hustle,2013-12-12,2014-03-02,2013.0
2,2,Brokeback Mountain,2005-09-10,2006-03-05,2005.0
3,3,Walk the Line,2005-09-13,2006-03-05,2005.0
4,4,"Good Night, and Good Luck.",2005-09-16,2006-03-05,2005.0

In [8]:
#check data type
merge_date_df.dtypes

Unnamed: 0          int64
Movie              object
Release Date_x     object
Award_date         object
Release Year      float64
dtype: object

In [9]:
#convert 'Award_date' to datetime64[ns]
merge_date_df["Award_date"] = pd.to_datetime(merge_date_df['Award_date'])

In [10]:
#Check types again
merge_date_df.dtypes

Unnamed: 0                 int64
Movie                     object
Release Date_x            object
Award_date        datetime64[ns]
Release Year             float64
dtype: object

In [11]:
#convert 'Release Date_x' to datetime64[ns]
merge_date_df["Release Date_x"] = pd.to_datetime(merge_date_df['Release Date_x'])

In [12]:
#Check types again
merge_date_df.dtypes

Unnamed: 0                 int64
Movie                     object
Release Date_x    datetime64[ns]
Award_date        datetime64[ns]
Release Year             float64
dtype: object

In [13]:
merge_date_df.head()

,Unnamed: 0,Movie,Release Date_x,Award_date,Release Year
0,0,Capote,2005-09-30,2006-03-05,2005.0
1,1,American Hustle,2013-12-12,2014-03-02,2013.0
2,2,Brokeback Mountain,2005-09-10,2006-03-05,2005.0
3,3,Walk the Line,2005-09-13,2006-03-05,2005.0
4,4,"Good Night, and Good Luck.",2005-09-16,2006-03-05,2005.0

In [14]:
#Get days difference value from Release Date to Award Date
merge_date_df['Days Difference'] = merge_date_df['Award_date'].sub(merge_date_df['Release Date_x'], axis=0)
merge_date_df.head()

,Unnamed: 0,Movie,Release Date_x,Award_date,Release Year,Days Difference
0,0,Capote,2005-09-30,2006-03-05,2005.0,156 days
1,1,American Hustle,2013-12-12,2014-03-02,2013.0,80 days
2,2,Brokeback Mountain,2005-09-10,2006-03-05,2005.0,176 days
3,3,Walk the Line,2005-09-13,2006-03-05,2005.0,173 days
4,4,"Good Night, and Good Luck.",2005-09-16,2006-03-05,2005.0,170 days

In [16]:
#save as a CSV file
merge_date_df.to_csv('Day_Diff.csv')